$font-stack: Helvetica, sans-serif;
$primary-color: #333;

.login {
  background-color: pink;
  border-radius: 1em;
  padding: 0.5em;

  p {
    padding: 0.5em;
  }

  form {
    background-color: aqua;
    padding: 0.5em;
    border-radius: 1em;
  }
}
